<a href="{{ routes.cart_url }}" class="text-link uppercase" role="button" >
  <span id="cart-icon-bubble" class="text-center h4-b md:h2-b" >
    Cart
  </span>
  <span class="sr-only">{{ 'templates.cart.cart' | t }}</span>
</a>

