<style>
  .cart-drawer-container {
    max-height: calc(100vh - var(--announcement-bar-height));
  }

  .scrolled .cart-drawer-container {
    max-height: 100vh;
  }
</style>

<div
  x-cloak
  x-show="$store.tab.current == 'cart'"
  x-transition:enter="transition-transform ease-in duration-200"
  x-transition:enter-start="-translate-y-full"
  x-transition:enter-end="translate-y-0"
  x-transition:leave="transition-transform ease-out duration-200"
  x-transition:leave-start=" translate-y-0"
  x-transition:leave-end="-translate-y-full"
  @keyup.escape="$store.tab.close()" @click.outside="$store.tab.close()"
  id="MegaMenu-Content-{{ forloop.index }}"
  class="absolute z-[-1] bg-cream  left-0 right-0 top-0 overflow-y-auto motion-reduce cart-drawer-container pt-header">

  <cart-drawer class="{% if cart == empty %} is-empty{% endif %}">
    {% section 'cart-contents' %}
  </cart-drawer>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function(event) {
      document.querySelector('#cart').submit();
    });
  });
</script>