<span style="width: 40px" class="{{ class }}">
	<svg preserveAspectRatio="xMaxYMid slice"aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow block" width="40" height="11" viewBox="0 0 83 11" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M0 5.5H82" vector-effect="non-scaling-stroke" stroke="currentColor"/>
		<path vector-effect="non-scaling-stroke" d="M78.6 9.75L82 5.5L78.6 1.25" stroke="currentColor"/>
	</svg>
</span>