<style>
.menu-drawer {
  max-height: calc(100vh - var(--announcement-bar-height));
}

.scrolled .menu-drawer {
  max-height: 100vh;
}

</style>

<div class="menu-drawer-container lg:hidden">
  <button @click.prevent.stop="$store.tab.toggle('mobileDrawer')" class="text-gold pt-[.375rem] h4-b md:h2-b" aria-label="{{ 'sections.header.menu' | t }}">
    <span x-text="$store.tab.current == 'mobileDrawer' ?  'Close' : 'Menu'">Menu</span>
  </button>
  <div x-cloak
    id="menu-drawer"
    x-ref='mobileDrawer'
    x-show="$store.tab.current == 'mobileDrawer'"
    x-transition:enter="transition-transform ease-out duration-200"
    x-transition:enter-start="-translate-y-full"
    x-transition:enter-end="translate-y-0"
    x-transition:leave="transition-transform ease-in duration-200"
    x-transition:leave-start="translate-y-0"
    x-transition:leave-end="-translate-y-full"
    class="absolute z-[-1] left-0 top-0 right-0 w-full pt-header overflow-x-hidden menu-drawer z-3 w-full flex flex-col items-stretch justify-stretch bg-cream "
    @click.outside="$store.tab.close()"
    @keyup.escape="currentChildMenu ? closeChildMenu : $store.tab.close()"
    x-data="{
      currentChildMenu: null, focusEl: null,
      openChildMenu(index, el) {
        this.focusEl = el;
        this.currentChildMenu = index;
      },
      closeChildMenu() {
        this.currentChildMenu = null;
        removeTrapFocus(this.focusEl)
      }
    }"
    >

    {% assign links = section.settings.menu.links %}

    {% if links.size < 2 and section.settings.menu.links[0].links %}
      {% assign links = section.settings.menu.links[0].links %}
    {% endif %}

    <div class="menu-drawer__inner-container relative flex-1 overflow-y-scroll">
      <div class="menu-drawer__navigation-container">
        <nav class="menu-drawer__navigation menu-cards">
          <ul class="menu-drawer__menu has-submenu grid grid-cols-2" role="list">

            {%- for link in links -%}
              {% render 'product-card', link: link, el: 'li' %}
            {%- endfor -%}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>