<div class="page">
  <div class="page__container">
    <div class="page__title">
      <h1 class="main-page-title page-title">
        {{ page.title | escape }}
      </h1>
    </div>
    <div class="rte page__body">
      {{ page.content }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section"
}
{% endschema %}
