{{ 'component-product-card.css' | asset_url | stylesheet_tag }}

<div class="">
  <ul role="list" class="space-y-15">
    {%- for block in section.blocks -%}
      {%- assign collection = block.settings.collection -%}
      {%- if collection != blank -%}
        <li>
          <div class="collection-grid px-padding-sm">
            <div class="flex justify-between pt-10 pb-9">
              <h2 class="uppercase">{{ collection.title }}</h2>
              {% if collection %}<a class="text-link" href="{{ collection.url }}">Shop All</a>{% endif %}
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-x-2 gap-y-14">
              {% for product in collection.products limit: 4 %}
                {%- render 'product-card', collection: collection, section: section, product: product -%}
              {% endfor %}
            </div>
          </div>
        </li>
      {%- endif %}
    {%- endfor -%}
  </ul>
</div>

{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "class": "section",
  "blocks": [
    {
      "name": "Collection",
      "type": "collection",
      "settings": [
        {
          "type": "collection",
          "label": "Collection",
          "id": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
