{{ 'component-rte.css' | asset_url | stylesheet_tag }}

<div class="mb-25 lg:mb-35">
  <div class="page__container">
    <div class="page__title">
      <h1 class="main-page-title page-title">
        {{ page.title | escape }}
      </h1>

      {% assign image = page.metafields.custom.image.value %}

      {% if image %}
        <div class="hidden md:grid grid-cols-6 col-gap-gutter-sm md:mt-15 lg:mt-25 xl:mt-35 ">
          {% render 'image', image: image, use_padding: true, sizes:"(min-width: 768px) 50vw, 0vw ", wrapper_class: 'col-span-5' %}
        </div>
      {% endif %}
    </div>
    <div class="rte page__body">
      {{ page.content }}
      <div>
        {% if image %}
          {% render 'image', image: image, use_padding: true, sizes:"100vw (min-width: 768px), 0vw", wrapper_class: 'md:hidden w-full my-15' %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "page"
}
{% endschema %}
