<section class="bg-pink-svg">
	{% paginate collection.products by 48 %}
		{% render 'collection-grid', title: collection.title, products: collection.products %}
		{% render 'pagination' %}
	{% endpaginate %}
</section>