<div class="text-center flex flex-col mt-35 mb-50 items-center">
  <h1 class="uppercase">
    {{ section.settings.heading }}
  </h1>
  <p class="text-paragraph mt-9">
    {{ section.settings.body | newline_to_br }}
  </p>
  <p class="mt-6">
    <a href="{{ routes.collections_url }}" class="underline hover:no-underline">
    {{ section.settings.cta }}
    </a>
  </p>
</div>


{% schema %}
{
  "name": "t:sections.newsletter.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "id": "heading",
      "label": "Heading",
      "type": "text",
      "default": "404 Page not found"
    },
    {
      "id": "body",
      "label": "Body",
      "type": "textarea",
      "default": "The page you were looking for couldn't be found."
    },
    {
      "id": "cta",
      "label": "Button Text",
      "type": "text",
      "default": "Continue Shopping"
    }
  ]
}
{% endschema %}