<div class="page">
  <div class="page__container">
    <div class="page__title">
      <h1 class="main-page-title page-title">
        {{ page.title | escape }}
      </h1>

      {% assign image = page.metafields.custom.image.value %}

      {% if image %}
        {% render 'image', image: image, use_padding: true, sizes:"0vw, (min-width: 768px) 50vw, (min-width: 1024px) 33vw", wrapper_class: 'hidden md:block md:mt-15 lg:mt-25 xl:mt-35 md:w-3/4 lg:w-2/3' %}
      {% endif %}
    </div>
    <div class="rte page__body">
      {{ page.content }}
      <div>
        {% if image %}
          {% render 'image', image: image, use_padding: true, sizes:"100vw, (min-width: 768px) 0vw", wrapper_class: 'md:hidden w-full my-15' %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section"
}
{% endschema %}
