<div class="padding-x">
  <ul role="list">
    {%- for block in section.blocks -%}
      {%- assign collection = block.settings.collection -%}
      {%- if collection != blank -%}
        <li class="mb-25">
          <h2 class="pt-10 pb-9 uppercase"><a href="{{ colleciton.url }}" title="{{ collection.title }}">{{ collection.title }}</a></h2>
          {% render 'collection-grid', title: collection.title, collection: collection, limit: 4, show_image: block.settings.show_image %}
        </li>
      {%- endif %}
    {%- endfor -%}
  </ul>
</div>

{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "class": "section",
  "blocks": [
    {
      "name": "Collection",
      "type": "collection",
      "settings": [
        {
          "type": "collection",
          "label": "Collection",
          "id": "collection"
        },
        {
          "type": "checkbox",
          "label": "Show Collection Image",
          "id": "show_image"
        }
      ]
    }
  ]
}
{% endschema %}
