.cart {
  position: relative;
  display: block;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

cart-items {
  margin-left: 0;
  margin-right: auto;
}
cart-items.is-empty {
  margin-left: auto;
  margin-right: auto;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 3rem 0 1rem;
}

.cart__empty-text {
  margin: 4.5rem 0 2rem;
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 7rem 0 1rem;
  }

  .cart__empty-text {
    margin: 0 0 3rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__note {
  height: fit-content;
}

.cart__note .field__input {
  height: 100%;
  position: relative;
  padding: 1rem 2rem;
}

.cart__note .text-area {
  resize: vertical;
}

.cart__note:after, .cart__note:hover.cart__note:after,
.cart__note:before, .cart__note:hover.cart__note:before,
.cart__note .field__input:focus,
.cart__note .field__input {
  border-bottom-right-radius: 0;
}

@media screen and (min-width: 768px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }
}

.cart__ctas button {
  width: 100%;
}

.cart__ctas > *:not(noscript:first-child) + * {
  margin-top: 1.5rem;
}

.cart__update-button {
  margin-bottom: 1.75rem;
}

.cart__dynamic-checkout-buttons {
  max-width: 36rem;
  margin: 0 auto;
}

.cart__blocks > * + * {
  margin-top: 1.5rem;
}

.cart__dynamic-checkout-buttons div[role='button'] {
  height: 2rem;
}

.cart-note__label {
  display: inline-block;
}

.tax-note {
  margin: 1.5rem auto 0;
  display: block;
}

.cart__ctas {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .cart-note {
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }


  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas {
    display: flex;
    gap: 1rem;
  }
}


/* Custom  */

.cart__footer input[type=checkbox] ~ label {
  padding-left: 1.5rem;
  position: relative;
}


.cart__footer input[type=checkbox]:focus-visible ~ label:before {
  text-decoration: underline;
}

.cart__footer input[type=checkbox] ~ label:before {
  content: '☐';
  line-height: 1;
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: 40%;
  transform: translateY(-50%);
}


.cart__footer input[type=checkbox]:checked ~ label:before {
  content: '☑'
}