.featured-products-card {

}


@media screen and (min-width:  1024px) {
    
  .featured-products-card__inner { 

  }

  .featured-products-card__image {
    opacity: 1;
  }

  .featured-products-card__content {
    opacity: 0; 
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .featured-products-card__image,
  .featured-products-card__content {
    transition: opacity 200ms;
  }

  .featured-products-card__inner:hover .featured-products-card__image {
    opacity: 0;
  }

  .featured-products-card__inner:hover .featured-products-card__content {
    opacity: 1;
  }

}