.
@media screen and (min-width: 750px) {
  .product--thumbnail .product__media-gallery,
  .product--thumbnail_slider .product__media-gallery,
  .product--stacked .product__info-container--sticky {
    display: block;
    position: sticky;
    top: 3rem;
    z-index: 2;
  }

}

/* Swiper */

.pdp-prev, .pdp-next {
  position: absolute;
  height: 100%;
  width: 20%;
  top: 0;
  bottom: 0;
  z-index: 20;
}

.pdp-prev {
  left: 0;
}

.pdp-next {
  right: 0;
}

.pdp-next svg {
}


/* Product form */

.product-form {
  display: block;
}

.product-form__error-message-wrapper:not([hidden]) {
  display: flex;
  align-items: center;
  margin-bottom: .75rem;
}

.product-form__error-message-wrapper svg {
  flex-shrink: 0;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: .5rem;
}

/* Form Elements */
.product-form__input {
  flex: 0 0 100%;
  min-width: fit-content;
  border: none;
}

variant-radios,
variant-selects {
  display: block;
}

.product-form__input--dropdown {
  margin-bottom: 1.6rem;
}

fieldset.product-form__input .form__label {
  margin-bottom: 0.2rem;
}

.product-form__input input[type='radio'] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.product-form__input input[type='radio'] + label {
  display: inline-block;
  text-align: center;
    position: relative;
}


.product-form__input input[type='radio']:checked + label {
  text-decoration: underline;
}

.product-form__submit[aria-disabled="true"] + .shopify-payment-button .shopify-payment-button__button[disabled],
.product-form__submit[disabled] + .shopify-payment-button .shopify-payment-button__button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Product popup */

.product-popup-modal {
  box-sizing: border-box;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  z-index: -1;
  margin: 0 auto;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  background: rgba(0,0,0, 0.2);
  height: 100%;
}

.product-popup-modal[open] {
  opacity: 1;
  visibility: visible;
  z-index: 101;
}

.product-popup-modal__content {
  background-color: white;
  overflow: auto;
  height: 80%;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 92%;
  position: absolute;
  max-width: 640px;
  max-height: 800px;
}

.product-popup-modal__content.small {
  max-width: 480px;
  max-height: 600px;
}

@media screen and (min-width: 750px) {
  .product-popup-modal__content {
    width: 70%;
  }
}

.product-popup-modal__content img {
  max-width: 100%;
}

.product-popup-modal__content table {
  max-width: fit-content;
  text-align: center;
  margin: 1rem 0;
}

.product-popup-modal__content table thead td {
  text-decoration: underline;
}
.product-popup-modal__content table  td {
  padding: 0.375rem 1.5rem 0.375rem 0;
}

@media screen and (max-width: 749px) {
  .product-popup-modal__content table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0;
  }
}

.product-popup-modal__opener {
  display: inline-block;
}
.product-popup-modal__content-info {
  margin: 1.5rem 1.25rem;
}
.product-popup-modal__content-info > h1 {
  margin: 2rem 0 1rem;
}

.product-popup-modal__content-info > * {
  height: auto;
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .product-popup-modal__content-info > * {
    max-height: 100%;
  }
}

.product-popup-modal__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
    position: absolute;
  z-index: 2;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  padding: .5rem;
  margin: 0 0 0 auto;
}

.product-popup-modal__toggle .icon {
  height: auto;
  margin: 0;
  width: 2.2rem;
}
