@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
  }
}

@layer utilities {
  .uppercase {
    @apply tracking-wide;
  }
}

@layer components {
  .button {
    @apply border-black border px-4 py-2;
  }

  .button:disabled,
  .button[aria-disabled='true'],
  .button.disabled {
    cursor: not-allowed;
  }



  .text-link {
    @apply cursor-pointer hover:underline focus-visible:underline;
  }

}

/*Typography*/

@layer base {
  a, button, input, textarea, select {
    @apply outline-black outline-offset-2;
  }

  html {
    @apply underline-offset-2;
  }

  body {
    @apply text-base tracking-normal leading-normal font-figtree;
  }

  strong, b {
    @apply font-semibold;
  }

  main {
    @apply min-h-screen-less-header
  }

  .shopify-challenge__container {
    @apply flex flex-col items-center justify-center space-y-4;
  }
  .shopify-challenge__container input[type=submit] {
    @apply button flex mt-8 cursor-pointer;
  }
  .shopify-payment-button__button {
    @apply button w-full;
  }

  /* Policy Pages */
  .page__container,
  body .shopify-policy__container {
    @apply md:flex md:items-start md:space-x-5 px-5 max-w-none;
  }

  body .shopify-policy__title, body .shopify-policy__body,
  .page__title, .page__body {
    @apply max-w-none md:w-1/2 md:pt-10;
  }

  body .shopify-policy__title,
  .page__title {
    @apply md:sticky md:top-header mt-10 md:mt-0 mb-15 md:mb-0 text-left;
  }

  body .shopify-policy__title h1,
  .page__title h1 {
    @apply uppercase;
  }

  body .shopify-policy__body,
  .page__body {
    @apply md:mt-0 md:max-w-prose;
  }

  body .shopify-policy__body > :first-child,
  .page__body > :first-child {
    @apply md:mt-0
  }

  body .shopify-policy__body a,
  .page__body a {
    @apply underline hover:no-underline;
  }

  body .shopify-policy__body p, body .shopify-policy__body ol, body .shopify-policy__body table,
  .page__body p, .page__body ol, .page__body table {
    margin: 1.25em 0;
  }

  body .shopify-policy__body h1,
  .page__body h1 {
    @apply uppercase;
    margin-top: 3em;
  }

  body .shopify-policy__body h2,
  .page__body h2 {
    @apply uppercase;
    margin-top: 2em;
  }

  body .shopify-policy__body h3,
  .page__body h3 {
    @apply underline;
    margin-top: 1.5em;
  }

  body .shopify-policy__body h4,
  .page__body h4 {
    @apply text-sm uppercase;
    margin-top: 2em;
  }


  body .shopify-policy__body h5,
  .page__body h5 {
    @apply text-sm uppercase;
    margin-top: 2em;
  }


  body .shopify-policy__body h6,
  .page__body h6 {
    @apply text-sm underline;
    margin-top: 2em;
  }

  body .shopify-policy__body ul,
  .page__body ul {
    margin: .5em 0;
    margin-left: 1em;
    list-style: disc outside;
  }
  body .shopify-policy__body li,
  .page__body li {
    margin-top: .5em;
  }


  body .shopify-policy__body blockquote,
  .page__body blockquote {
    margin: .5em 2rem;
  }

  body .shopify-policy__body th:not(:first-child), body .shopify-policy__body td:not(:first-child),
  .page__body th:not(:first-child), .page__body td:not(:first-child)  {
      padding-left: 1em;
  }

  body .shopify-policy__body p + p,
  .page__body p + p {
    margin-top: 0.625em;
  }
}